<%# <form method="post" action="/suma">
    <input type="hidden" name="num" value="num">
    <input class='btn btn-primary' name='id' value='num' type='submit' >
</form> %>


<% if @sum %>
<h1>Mi cuenta es :  <%= @sum %>  </h1>
<% else  %>
<h1>Mi cuenta es : 0
<% @sum == 0 %>
<% end  %>

    

    <form method="get" action="/">
     <label> <input type="hidden" name="sum" value="<%= @sum.to_i + 1 %> " </label>
    <input type="submit" class="btn btn-success"> 
    </form>

