<%# <form method="post" action="/suma">
    <input type="hidden" name="num" value="num">
    <input class='btn btn-primary' name='id' value='num' type='submit' >
</form> %>



<h1>Hola </h1>

     <%= @sum %>

    <form method="get" action="/">
     <label> <input type="hidden" name="sum" value="<%= @sum + 1 %> +" </label>
    <button type="submit" class="btn btn-success"> count </button>
    </form>

